<section class="center-children">
  <form id="details-form">
    <label for="name-input">Name</label>
    <input id="name-input" type="text" />
    <label for="student-id-input">Student ID</label>
    <input id="student-id-input" type="text" />
    <label for="signature-input">Signature</label>
    <input id="signature-input" type="text" />
    <button type="submit">Sign-in and Save Details</button>
  </form>
  <button id="sign-in-button">Sign-in</button>
  <p id="not-in-progress-text">
    The sustainability group is not currently in progress. Please come back
    later.
  </p>
  <p>You are already logged in.</p>
</section>
